.footer-icons ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin-top: 3rem;
    display: flex;
  
  }
  
  .footer-icons ul li {
    list-style: none;
    margin: 0 10px;
  }
  
  .footer-icons ul li .fa {
    color:black;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
    cursor: pointer;
  }
  .footer-icons ul li .fa:hover {
    color: #ffffff;
  }
  
  .footer-icons ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  }
  .footer-icons ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  .footer-icons ul li:nth-child(1) a:hover {
    background-color: green;
  }
  .footer-icons ul li:nth-child(2) a:hover {
    background-color: #0077B5;
  }
  .footer-icons ul li:nth-child(3) a:hover {
    background-color: #55acee;
  }
  .footer-icons ul li:nth-child(4) a:hover {
    background-color: #e4405f;
  }
  
  