@import 'utilities.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans&display=swap');
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotting:antialised;

}
header{
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 90%, 0 100%);
    height: 700px;
    font-family: 'Poppins',sans-serif;
    
}
body{
    font-family: 'Poppins',sans-serif;
}
.container{
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 15px;
    
}

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: var(--primary);
}
header nav{
    padding: 2rem 0;
}
.aboutme{
    padding: 3rem 0;
}

.aboutme .left img{
    width: 300px;
    width: 400px;
    height: 400px;
    padding: 0.8rem 3rem;
}
.aboutme .right{
    color: var(--pure);
}
.aboutme .right h2{
    margin-bottom: 2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: bold;
}
.aboutme .right p{
    line-height: 1.9rem;
    margin-bottom: 0.5rem;
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
}
/*.aboutme .right a{
    padding-right: 2rem;
    transition: all .3s ease;
    cursor: pointer;
    background: var(--pure);
    
}*/

/*.projects .container{
    background-color:white;
}*/
.projects .container h1{
    font-family: 'Poppins',sans-serif;
    color: var(--dark);
    font-weight: bold;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}
.projects .container h2{
    font-family: 'Poppins',sans-serif;
    margin-top: 1.5rem;
    /*margin-bottom: rem;*/
    text-align: left;
    color: var(--dark);
    font-weight: bold;
}
.projects .container p{
    font-family: 'Poppins',sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
    color: var(--dark);
    font-weight:solid;
}
.projects .container .technology{
    font-family: 'Poppins',sans-serif;
    color: var(--dark);
    font-weight: bolder;


}
.skills .container h1{
    font-family: 'Poppins',sans-serif;
    color: var(--dark);
    font-weight: bold;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;

}
.skills .container h2{
    font-family: 'Poppins',sans-serif;
    margin-top: 1rem;
    /*margin-bottom: 0.5rem;*/
    text-align: left;
    color: var(--dark);
    font-weight: bold;

}
.skills .container p{
    font-family: 'Poppins',sans-serif;
    /*margin-top: 0.5rem;
    margin-bottom: 0.5rem;*/
    text-align: left;
    color: var(--dark);
    font-weight:solid;
}
section.contact .card-wrapper{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    
}
section.contact .container h1{
    font-family: 'Poppins',sans-serif;
    color: var(--dark);
    font-weight: bold;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}
section.contact .container h1 span{
    color: var(--primary);
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 2rem;
}
section.contact .card-wrapper .card h6{
    color: var(--ternary);
    font-weight: 4rem;
    margin-bottom: 2rem;
}

/*footer{
    background: var(--dark);
    height: auto;
    width: 100%;
    font-family:'Poppins',sans-serif; 
    color:var(--pure);
    /*padding-top: 2rem;
    padding-bottom: 5rem;
    position: absolute;  
    
}*/


.site-footer
{
  background-color:var(--dark);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:var(--pure);
  width: 100%;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.footer-p1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: var(--pure);
   
}
.footer-p2{
    text-align: center;
    font-family: 'Poppins',sans-serif; 
    font-size: 1rem;
    color: var(--pure);
    margin-bottom: 1rem;
   
}
.copyright-text{
    text-align: center;
    margin-top: 1rem;
}